################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AspDotNet/.vs/AspDotNet/v16/Server/sqlite3
/AspDotNet/.vs/AspDotNet/config
